.container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.item {
    background-color: cornflowerblue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.item2 {
    background-color: rgb(174, 195, 235);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.item:hover {
    background-color: rgb(174, 195, 235);
}
a:visited {
    color:black
}
a:link {
    color: black;
    text-decoration: none;
}
.Bild1 {
    width: 100%;
}
